/* Martin's style*/
:root, body {
    --main-bg-color: #313638;
    --main-content: #333;
    --white: #E8E9EB;
    --cream: #E0DFD5;
    --whiteRGB: 250,250,250;
    --yellow: #E4B363;
    --orange: #EF6461;
}

* {
    box-sizing: border-box;
}

html, 
body {
    height: 100%;
}

body {
    background:  var(--main-bg-color);
    color:  var(--main-content);
    background: #333;
    background: linear-gradient(0deg, rgba(33,33,33,1) 0%, rgba(49,54,56,1) 80%);
}

#root {
    display: flex;
    height: 90vh;
    align-items: center;
    justify-content: center;
}
 
.main {
    display: grid;
    margin: 0 auto;
    background: var(--cream);
    box-shadow: rgb(38, 38, 38) 0 25px 36px;
    background: var(--white) url("media/bg1.jpg") center center no-repeat;
}
@media (min-width: 768px) {
    .main {
        background-size: cover;
        grid-template-columns: 1fr 1fr;
        padding: 1.5em;
    }   
}
    
.content {
    padding: 16px;
    background: rgba(var(--whiteRGB), .8);
}
    @media (min-width: 768px) {
        .content {
            padding: 24px;
            grid-column-start: 2;
            min-height: 50vh;
            background: rgba(var(--whiteRGB), .9);
        }
    }

/* Form */
input[type="text"] {  
    color: var(--main-bg-color);
    font-weight: 300;
    padding: 10px;
    border-radius: 0;
    background: none;
    border: 0;
    border-bottom: 1px solid var(--orange);
}

.form-control:focus {
    color: var(--main-bg-color);
    border: none;
    border-bottom: 1px solid var(--orange);
    box-shadow: none;
    background: rgba(var(--whiteRGB), .7);
}

.form-control {
    margin-bottom: 12px;
}

.title-panel {
    text-align: center;
    margin-bottom: 16px;
}
.title-panel__subtitle {
    color: grey;
    font-style: italic;
}
.title-panel__title{
    font-style: italic;
    font-weight: bold;
    letter-spacing: -2px;
}

input[type="submit"],
.button {
    border: 1px solid var(--main-bg-color);
    color: var(--main-bg-color);
    border-radius: 0;
    padding: 8px;
    background: none;
    box-shadow: black 0 1px 0;
}

input[type="submit"]:focus {
    border-color: var(--orange);
    box-shadow: var(--orange) 0 1px 0;
    outline: 0;
}

/* Weather feedback */
.weatherform-feedback p {
    margin-bottom: 0;
}

.weatherform-feedback__content {
    border-radius: 12px;
    background: rgba(255,255,255,.5);
    padding: 12px 0;
}

